body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text);
}

.stack {
  padding: 20px 35px;
  border-radius: 50px;
  font-size: 22px;
  color: var(--text);
  letter-spacing: 2px;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.075),
    -6px -6px 10px rgba(0, 0, 0, 0.3);
  background: var(--background);
}

.structure {
  width: 20vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: solid 1px var(--clear);
  padding: 12px;
  flex-shrink: 0;
  min-width: 250px;
  gap: 10px;
}

.brick {
  background: linear-gradient(-25deg, var(--clear) 30%, var(--disabled) 90%);
}

.brick:last-child {
  grid-column: 4;
}
